<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.3/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    <title>Document</title>
    <style>
        body{
            background-image: url(https://images.pexels.com/photos/235985/pexels-photo-235985.jpeg?cs=srgb&dl=pexels-pixabay-235985.jpg&fm=jpg);
        }
        h1{
            text-align: center;
            color: red;
        }
        div{
            color: antiquewhite;
        }
    </style>
    {% load static %}
</head>
<body>
    <h1><b><ul>SHOW PRODUCT DETAILS</ul></b></h1>
    <div style="display:flex; width:70%;height:100%;margin-left: 210px; margin-bottom: 100px;">
    <table border="2px">
        <thead>
            <th>PRODUCTS</th>
            <th>PRICE</th>
            <th>IMAGES</th>
        </thead>
        <tbody>
            {% for sh in show %}
            <tr>
                <td>{{sh.product}}</td>
                <td>{{sh.price}}</td>
                {% if sh.images == '/static/images/default.jpg'%}
                <td>
                    <img src="{% static 'images/default.jpg' %}" width="100px">
                </td>
                {% else %}
                <td>
                    <img src="{{sh.images.url}}">
                </td>
                {% endif %}
                <td>
                    <a rol="button" href="{% url 'editpage' sh.id %}">Edit</a>
                    <a rol="button" href="{% url 'delete' sh.id %}">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>



